@{
    string dynamicClass(string actionLink, string defHtml, string activeHtml)
    {
        if (actionLink.Equals(Html.ViewContext.HttpContext.Request.Path, StringComparison.OrdinalIgnoreCase))
        {
            return activeHtml;
        }
        return defHtml;
    }
}
<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/index">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">TCU <sup>ENGLISH</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">
    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="/dashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider" />

    <!-- Heading -->
    <div class="sidebar-heading">
        Quick menu
    </div>

    <li class="nav-item">
        <a class="nav-link" href="/instructors">
            <i class="fas fa-chalkboard-teacher"></i>
            <span>Instructors</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/discussions">
            <i class="fas fa-comments"></i>
            <span>Discussions</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/notes">
            <i class="fas fa-clipboard"></i>
            <span>Notes</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#dic-collapse" aria-expanded="false" aria-controls="dic-collapse">
            <i class="fas fa-book-open"></i>
            <span>@L["Dictionary"]</span>
        </a>
        <div id="dic-collapse" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar" style="">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/dictionary/grammars">@L["Grammars"]</a>
                <a class="collapse-item" href="/dictionary/vocabularies">@L["Vocabularies"]</a>
            </div>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/exams/exam-categories">
            <i class="fas fa-star"></i>
            <span>@L["Exams"]</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block" />

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

    <!-- Sidebar Message -->
    <div class="sidebar-card">
        <img class="sidebar-card-illustration mb-2" src="/dist/img/undraw_rocket.svg" alt="">
        <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!</p>
        <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Upgrade to Pro!</a>
    </div>

</ul>
<!-- End of Sidebar -->