<div class="border border-info">
    <img class="w-100" src="/dist/img/user_manuals/skillpart_isdisplayquestiontext_prop.jpg" />
</div>
<div class="mt-4">
    <b>Display question text</b> will show content of your sub-question.
</div>