<div class="border border-info">
    <img class="w-100" src="/dist/img/user_manuals/skillpart_editorlayout_prop.jpg" />
</div>
<div class="mt-4">
    <b>Editor layout</b>, Editor options apply in this section
</div>