<div class="border border-info">
    <img class="w-100" src="/dist/img/user_manuals/skillpart_instruction_prop.png" />
</div>
<div class="mt-4">
    <b>Instructions</b> will appear after the skill section name to help users know how to perform the skill section of this exam.
    If you don't want to show it, leave this field empty.
</div>