<div class="row mb-4">
    <div class="col-12 col-lg-4">
        <div class="card bg-success text-white shadow">
            <div class="card-body py-2">
                <div class="row">
                    <div class="mr-2">
                        <button type="button" class="btn bg-white btn-circle">
                            <i class="fas fa-check text-success"></i>
                        </button>
                    </div>
                    <div class="align-self-center">
                        @L["Passed"]
                    </div>
                    <div class="align-self-center font-weight-bolder ml-auto mr-2">
                        0
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-4 my-2 my-lg-0">
        <div class="card bg-danger text-white shadow">
            <div class="card-body py-2">
                <div class="row">
                    <div class="mr-2">
                        <button type="button" class="btn bg-white btn-circle">
                            <i class="fas fa-times text-danger"></i>
                        </button>
                    </div>
                    <div class="align-self-center">
                        @L["Failed"]
                    </div>
                    <div class="align-self-center font-weight-bolder ml-auto mr-2">
                        0
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-4">
        <div class="card bg-warning text-white shadow">
            <div class="card-body py-2">
                <div class="row">
                    <div class="mr-2">
                        <button type="button" class="btn bg-white btn-circle">
                            <i class="fas fa-bolt text-warning"></i>
                        </button>
                    </div>
                    <div class="align-self-center">
                        @L["Highest score"]
                    </div>
                    <div class="align-self-center font-weight-bolder ml-auto mr-2">
                        0
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>