@page
@model ASPCoreMVC.Web.Pages.Manager.Users.IndexModel
@{
    //Model.SetBreadcrumbBtn(L["Full management"].Value,
    //    $"javascript:showVtModal();",
    //    icon: "fas fa-users-cog",
    //    c: "btn-warning");

    Model.SetBreadcrumb(
        new string[] { L["Manager"].Value, "javascript:$('#adminMenuDropdown').click();" },
        new string[] { L["Users"].Value, "#" },
        new string[] { L["Quick management"].Value });
}

@section Scripts {
    <partial name="@AppTheme.UserProfileViewable" />
    <script src="/dist/js/te.roles.js"></script>
    <script src="/dist/js/te.manage-user.js"></script>
    <script>
        cVtT = "Create role";
        uVtT = "Update role";
        syncVt('1', '');
        syncData('1', '');

    </script>
}
<div class="row">
    <div class="col-12 col-lg-7" id="user-collection"></div>
    <div class="col-12 col-lg-5" id="role-collection"></div>
</div>

<component type="typeof(FormModelComponent)"
           render-mode="ServerPrerendered"
           param-DeleteNoSubmit="true"
           param-Id="@("ce-vt")"
           param-Callback="@("vtSynced")" />