@model ASPCoreMVC.TCUEnglish.ExamQuestionGroups.QuestionGroupDTO
@Html.AntiForgeryToken()
<div class="">
    @if (Model.Id != Guid.Empty)
    {
        <input type="hidden" asp-for="Id" />
    }
    <input type="hidden" asp-for="SkillPartId" />
    <div class="form-group">
        <label asp-for="Name" class="mb-1"></label>
        <input asp-for="Name" class="form-control">
        <div class="form-text text-danger small">
            <span asp-validation-for="Name"></span>
        </div>
    </div>
</div>